<div class="container mt-5 d-flex justify-content-center search">
    <div class="row">
        <%= form_tag villas_path, method: :get do %>
            <%= date_field_tag 'search[date_start]', @search.date_start, min: Date.today, value: @search.date_start || Date.today %>
            <%= date_field_tag 'search[date_end]', @search.date_end, value: @search.date_start || Date.today + 1 %>
            <%= submit_tag 'Search' %>
        <%end%>
    </div>
</div>

<div class="container mt-5 results d-flex justify-content-center flex-column ">
    <% @villas.each do |x| %>
        <div class="row justify-content-center">
            <%= link_to villa_path(:id => x.id) do %> 
            <div class="card result-card w-50" style="width: 18rem;">
                <%= image_tag x.img_url, alt: "villa", class:"card-img-top" %>
                <div class="card-body">
                    <h5 class="card-title"><%= x.id%></h5>
                    <p class="card-text"><%= x.city%></p>
                    <%= link_to 'Book !', new_reservation_path(:villa_id => x.id, :price => x.price, :start_date => @search.date_start, :end_date => @search.date_end) %>
                </div>
            </div>
        <% end %>
            </div>
    <% end%>
</div>