<div class="container d-flex justify-content-center align-items-center" style="min-height: 100%; min-height: 100vh;">
<div class="card w-50 h-75">
<div class="card-body d-flex justify-content-center">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <button class="btn btn-info"<%= f.submit "Sign up" %>Sign up</button>
  </div>
  <%= render "devise/shared/links" %>
  <% end %>
  
  
  
  </div>
  
</div>
</div>