<div class="container d-flex justify-content-center align-items-center" style="min-height: 100%; min-height: 100vh;">
<div class="card w-50">
<div class="card-body d-flex justify-content-center">
<%= form_for @reservation do |t| %>
    Start: <%= t.text_field :start_date, value: @start_date %><br />
    End: <%= t.text_field :end_date, value: @end_date %><br />
    NbAdults: <%= t.number_field :nbAdults %><br />
    NbChilds: <%= t.number_field :nbChilds %><br />
    Nature du Séjour: <%= t.text_field :description %><br /> 

    <strong>Prix : <%= @price %></strong> euros
    <%= t.submit "Confirmer" %>
  <% end %>

  </div>
  </div>
  </div>