<div class="wrapper" style="border: 1px solid black; border-radius: 1px;">

<div class="container" style="margin-left: 2%; margin-bottom: 2%">
    <h2 style="text-align: center;"> Order Confirmation </h2>

    Hi <%= @user %>,
    <p style="font-size: 1rem">
    Thank you for your order on booking-villa.com<br>
    Please review your order details below </p>
    <hr style="margin-right: 2%">
    <h2> Details </h2>
    <hr style="margin-right: 2%">
    <br>
    
    <div class="order-details-villa" style="margin-right: 2%; margin-bottom: 5%;">
    
        <div style="display: inline-block"><%= image_tag @villa.img_url, size: "350x250" %></div>
    
        <div style="display: inline-block; vertical-align:top; margin-left: 5%;">
        <strong style="font-size: 1.5rem">Dates</strong><br><br>
        <strong>Arrival</strong> <br> 
        <%= @start_date %><br><br>
        <strong>Departure</strong> <br> 
        <%= @end_date %><br><br>

        <strong style="font-size: 1.5rem">Persons</strong><br><br>
    
        Adults : <%= @reservation.nbAdults %><br><br>
        Childs : <%= @reservation.nbChilds %>
    </div>


    </div>
    <hr style="margin-right: 2%">
    <strong style="font-size: 2rem">Total : <%= @reservation.price %> €</strong>
    <hr style="margin-right: 2%">
    

</div>
</div>
