<div class="container d-flex justify-content-center align-items-center" style="min-height: 100%; min-height: 100vh;">
<div class="card w-50">
<div class="card-body d-flex justify-content-center">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>
</div>
</div>
</div>

<%= render "devise/shared/links" %>
