// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-brand{
    margin-left: 5%;
}

.navbar-brand a {
    font-size: 50px;
}