<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" style="font-size: 1.5rem">Booking</a>
  
    <% if current_user %>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to 'My reservations', reservations_path %></li>
                <div class="dropdown-divider"></div>
                  <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
                  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                </div>
            </div>
        </div>
        
    <% else %>
    <div class="d-flex align-items-center">    
        <button class="btn btn-light mr-3"><%= link_to 'Sign up', new_user_registration_path %></button>
        <button class="btn btn-light mr-3"><%= link_to 'Login', new_user_session_path %></button>
    </div>
    
    <% end %>
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>